*{
    box-sizing: border-box;
}

#reactionsGrid{
    display: grid;
    width:100vw;
    height:calc(100vh - 38px);
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "smiley frowny"
    "surprised confused";
}
#reactionsGrid > div{
    display: flex;
    padding: 10px;
    justify-content: center;
    overflow: hidden;
}
#smiley{
    grid-area: smiley;
    background-color: green;
}

#frowny{
    grid-area: frowny;
    background-color: indianred;
}

#surprised{
    grid-area: surprised;
    background-color: purple;
}

#confused{
    grid-area: confused;
    background-color: gray;
}

img{
    max-height: 100%;
    max-width: 100%;    
    display: table-cell;
    vertical-align: middle;
}